# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.g.dart
*.freezed.dart

# Dependencies (reinstalables con flutter pub get)
# pubspec.lock se incluye intencionalmente

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Build outputs
/build/
/windows/runner/Debug/
/windows/runner/Release/

# Flutter build intermediates
*.snap
